<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lastitemid</key>
	<integer>15</integer>
	<key>Quests</key>
	<array>
		<dict>
			<key>type</key>
			<string>Quest</string>
			<key>action</key>
			<string>会社に行く</string>
			<key>id</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>PowerUp</string>
			<key>action</key>
			<string>千里と追いかけっこ</string>
			<key>id</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>PowerUp</string>
			<key>action</key>
			<string>パワーブレスをする</string>
			<key>id</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>PowerUp</string>
			<key>action</key>
			<string>早足で通勤する</string>
			<key>id</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>PowerUp</string>
			<key>action</key>
			<string>SOLID STATE SURVIVOR</string>
			<key>id</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>PowerUp</string>
			<key>action</key>
			<string>千里を撫でる</string>
			<key>id</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>PowerUp</string>
			<key>action</key>
			<string>水を一杯飲む</string>
			<key>id</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>PowerUp</string>
			<key>action</key>
			<string>1ブロック遠回り</string>
			<key>id</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>PowerUp</string>
			<key>action</key>
			<string>自分をハグする</string>
			<key>id</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>PowerUp</string>
			<key>action</key>
			<string>手のひらを上に向ける</string>
			<key>id</key>
			<integer>9</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>BadGuy</string>
			<key>action</key>
			<string>ちゃんと由香の話を聞く</string>
			<key>id</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>BadGuy</string>
			<key>action</key>
			<string>キライな人間と話す</string>
			<key>id</key>
			<integer>11</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>PowerUp</string>
			<key>action</key>
			<string>歌を歌う</string>
			<key>id</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>Quest</string>
			<key>action</key>
			<string>知らない人としゃべる</string>
			<key>id</key>
			<integer>13</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>Quest</string>
			<key>action</key>
			<string>誰かに話しかける</string>
			<key>id</key>
			<integer>14</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>Quest</string>
			<key>action</key>
			<string>ストレッチする</string>
			<key>id</key>
			<integer>15</integer>
		</dict>
	</array>
</dict>
</plist>
